<footer class="footer pt-5 pb-3">
  <div class="container-fluid px-lg-5">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Your Logo</h5>
        <small class="d-block mb-3">Your Tagline here</small>

        <h6>About Us</h6>
        <p>We want to help bring talented students and unique startups together.</p>

        <h6>Contact Us</h6>
        <p class="mb-1">+234 000 000 0000</p>
        <p>support@taponce.org</p>
      </div>

      <!-- Column 2 -->
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Information</h6>
        <ul class="list-unstyled">
          <li><a href="#">About Us</a></li>
          <li><a href="#">More Search</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-lg-2 col-md-6 mb-4">
        <h6>Helpful Links</h6>
        <ul class="list-unstyled">
          <li><a href="#">Services</a></li>
          <li><a href="#">Supports</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col-lg-5 col-md-6 mb-4">
        <h6>Subscribe More Info</h6>
        <form>
          <div class="input-group mb-2">
            <span class="input-group-text bg-white"><i class="fas fa-envelope"></i></span>
            <input type="email" class="form-control subscribe-input" placeholder="Enter your Email">
          </div>
          <button class="subscribe-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="row footer-bottom px-lg-5 align-items-center">
      <div class="col-md-4 text-white small">2025 © Taponce. All Rights Reserved</div>
      <div class="col-md-4 text-center">
        <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
        <span class="social-icon"><i class="fab fa-google-plus-g"></i></span>
        <span class="social-icon"><i class="fab fa-twitter"></i></span>
        <span class="social-icon"><i class="fab fa-instagram"></i></span>
      </div>
      <div class="col-md-4 text-end">
        <a href="#top" class="btn btn-sm btn-top">
          <i class="fas fa-chevron-up"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
